{% extends 'base.html.twig' %}
{% block pageTitle %}
	Déposer Congés
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-body" style="padding-right:12%; padding-left: 12%">
				<div class="row">
					<h4 class="m-b-30 m-t-0">Ajouter une congé </h4>

					<div class="">
                        {{ form_start(form, { 'attr' : {'role': 'form'}}) }}

						<div class="form-group">
                            {{ form_widget(form.title) }}
						</div>
						<div class="form-group">
							<label></label>
							<div>
								<div class="input-daterange input-group" id="date-range">
									<span class="input-group-addon bg-primary text-white b-0">De</span>
                                    {{ form_widget(form.startTime,{ 'value' : start ,'attr' : {'name': 'start', 'class': 'form-control'}}) }}
									<!-- <input type="text" class="form-control" name="start" /> -->
									<span class="input-group-addon bg-primary text-white b-0">à</span>
									<!-- <input type="text" class="form-control" name="end" /> -->
                                    {{ form_widget(form.endTime, { 'attr' : {'name': 'end', 'class': 'form-control'}}) }}
								</div>
							</div>
						</div>
						<br>
						<p>
                            {{ form_widget(form.save, {"label" : 'Create User', 'attr': {'class': 'btn btn-success'}}) }}
						</p>
                        {{ form_end(form) }}
					</div>



				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}


	<script>
        /*
                $(document).ready(function(){
                    $("#save").click(function(){
                        var a = $('#endTime').val();
                    alert(a);
                    });
                });
        */
	</script>
{% endblock %}